<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoSilentApp"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.create_profile.CreateProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AutoSilentApp"/>
        <activity
            android:name=".presentation.create_session.CreateSessionActivity"
            android:exported="false"
            android:theme="@style/Theme.AutoSilentApp"/> <!-- <receiver android:name=".broadcast_receiver.CallStateBroadcastReceiver" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".broadcast_receiver.SessionBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.autosilentapp.START_SILENT_MODE" />
                <action android:name="com.example.autosilentapp.END_SILENT_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AutoSilentApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>